.weatherCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.error {
  display: flex;
  position: absolute;
  opacity: 0;
  z-index: -10;
  top: 0px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  height: 60px;
  width: 100%;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.1s;
}
